name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      # 1. Checkout kode
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      # 3. Setup Java (OpenJDK 17)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 4. Install Linux dependencies Buildozer/Android
      - name: Install Linux dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3-pip \
            build-essential \
            autoconf \
            libtool \
            pkg-config \
            zlib1g-dev \
            libncurses5-dev \
            libncursesw5-dev \
            libtinfo5 \
            libffi-dev \
            libssl-dev \
            git \
            unzip \
            zip \
            openjdk-17-jdk \
            cmake \
            x11-utils \
            libatk-wrapper-java \
            libatk-wrapper-java-jni \
            libpcsclite1 \
            librhash0

      # 5. Install Buildozer & dependencies Python
      - name: Install Buildozer
        run: |
          python3 -m pip install --upgrade pip
          pip install --upgrade Cython==0.29.33
          pip install --upgrade buildozer

      # 6. Build APK
      - name: Build APK
        run: |
          cd android
          buildozer -v android debug

      # 7. Upload APK artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: android/bin/*.apk
